<!DOCTYPE html>
<html lang="en">
      {% include 'base.html' %}
        {% block content %}
        <div class = "container">
          <div class = "card mt-3">
          <div class = "col-8 offset-2 col-lg-6 offset-lg-3 text-center">
            <i class = "fa fa-user fa-5x"></i>
            </div>
<div class="card-body col-12 col-lg-8 offset-lg-2" >
  <ul class="list-group list-group-flush">
    <li class="list-group-item">User Name</li>
    <li class="list-group-item">Current Income: $75,000</li>
    <li class="list-group-item">Money saved so far: $1,234</li>
    <li class="list-group-item">Member from February 29th 2017</li>
      <li class="list-group-item">Date of Birth: 2/29/1988</li>
      <li class="list-group-item">Number of Badges Earned: 1</li>
  </ul>
</div>
</div>
</div>
{% endblock %}
</html>
