<!DOCTYPE html>
<html lang="en">
      {% include 'base.html' %}
        {% block content %}

          <body>

            <div class = "container">
              <div class = "row">
                <div class = "col-6 col-lg-4 mt-3">
                  <div class="card border-success  mx-sm-1 p-3">
                    <div class="text-success text-center mt-3"><h4>Cards completed</h4></div>
                    <div class="text-success text-center mt-2"><h1>{{completed}}</h1></div>
                  </div>
                </div>
                <div class = "col-6 col-lg-4 mt-3">
                  <div class="card border-primary mx-sm-1 p-3">
                    <div class="text-primary text-center mt-3"><h4>Total cards</h4></div>
                    <div class="text-primary text-center mt-2"><h1>{{totalcards}}</h1></div>
                  </div>
                </div>
                <div class = "col-6 offset-3 col-lg-4 offset-lg-0 mt-3">
                  <div class="card border-danger mx-sm-1 p-3" >
                    <div class="text-danger text-center mt-3"><h4>Open cards</h4></div>
                    <div class="text-danger text-center mt-2"><h1>{{opencards}}</h1></div>
                  </div>
                </div>
              </div>
              <div class = "row">
                <div class="col-12 col-lg-6 mt-3">
                  <div class="card">
                      <div class="card-body">
                          <canvas id="chDonut1"></canvas>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-lg-6 mt-3">
                <div class="card">
                  <div class = "card-header text-center">
                    Leaderboards
                  </div>
                  <div class="card-body text-center">
                      <table class = "table table-striped">
                        <thead>
                          <tr >
                            <th scope="col">Ranking</th>
                            <th scope="col">Name</th>
                            <th scope="col">Cards Completed</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for rank in leaderboards %}
                          {% if rank['name'] == user %}
                          <tr class = "table-success">
                            <td>{{rank['ranking']}}</td>
                            <td>{{rank['name']}}</td>
                            <td>{{rank['cardscompleted']}}</td>
                          </tr>
                           {% else %}
                           <tr class = "table-info">
                             <td>{{rank['ranking']}}</td>
                             <td>{{rank['name']}}</td>
                             <td>{{rank['cardscompleted']}}</td>
                           </tr>
                          {% endif %}

                          {% endfor %}

                        </tbody>
                      </table>
                  </div>
                </div>
            </div>
              </div>
              <div class = "row">
                <div class = "col-12 col-lg-8  mt-3">
                  <div class="card border-success mx-sm-1 p-3">
                    <div class = "card-header text-center">
                      Badges
                    </div>
                    <div class = "row">
                      {% for badge in badges %}
                      <div class="col-md-2" {% if badge['completed'] == 0 %}style = "opacity: .5"{% endif %}>
                        <span class="fa-stack fa-2x has-badge" data-toggle="tooltip" data-placement="top" title="{{badge['description']}}">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-{{badge['icon']}} fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      {% endfor %}

                  </div>
                  </div>
                </div>
                <div class = "col-6 offset-3 col-lg-4 offset-lg-0 mt-3">
                  <div class="card border-danger mx-sm-1 p-3" >
                    <div class="text-danger text-center mt-3"><h4>Points</h4></div>
                    <div class="text-danger text-center mt-2"><h1>{{points}}</h1></div>
                  </div>
                </div>
              </div>
            </div>
          </body>
        {% endblock %}
</html>
 <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script>
var colors = ['green','red'];

/* 3 donut charts */
var donutOptions = {
  responsive: true,
  title: {
      display: true,
      position: "top",
      text: "Cards",
      fontSize: 18,
      fontColor: "#111"
    },
    legend: {
      position: "bottom",
      labels: {
        fontColor: "#333",
        fontSize: 16
      }
    }
};

// donut 1
var cards_completed = "{{completed}}";
var cards_open = "{{opencards}}";
var chDonutData1 = {
    labels: ['Cards Completed', 'Open Cards'],
    datasets: [
      {
        backgroundColor: colors.slice(0,2),
        borderWidth: [1, 1, 1, 1, 1],
        data: [cards_completed, cards_open]
      }
    ]
};

var chDonut1 = document.getElementById("chDonut1");
if (chDonut1) {
  new Chart(chDonut1, {
      type: 'doughnut',
      data: chDonutData1,
      options: donutOptions
  });
}
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
