<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a class="navbar-brand" href="#">Gamification</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
</li>
{%  if session['user'] and session['user']['admin'] %}
  <li class="nav-item">
  <a class="nav-link" href="/admin">Admin settings</a>
  </li>
{% endif %}
</ul>
{%  if session['user'] %}
    <li class="navbar-nav">
        <a class="nav-link pull-right" href="{{ url_for('profiles.profile') }}">Welcome, {{ session['user']['username'] }}</a>
    </li>
    <ul class="navbar-nav"  >
        <li class="nav-item" >
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout </a>
        </li>
    </ul>
{% else %}
    <li class="navbar-nav">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Log in </a>
    </li>
    <li class="navbar-nav">
        <a class="nav-link" href="{{ url_for('auth.register') }}">Register </a>
    </li>
{% endif %}
</ul>
</div>
</nav>
