 <body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    {% include 'sidebar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

      {% include 'header.html' %}
      <div class="container-fluid">
                <div class = "card mt-3">
                  <div class = "card-header">
                  </div>
                <form action="" method = "POST">
                  {% for app in apps %}
                  <div class="form-group">
                    <div class = "row">
                        <div class = "col-lg-2 offset-lg-1 col-12">
                        {{  app['app']}} token:
                      </div>
                      <div class = "col-lg-4 col-12">
                        <input type="text" name ="{{app['app']}}"
                        value =
                        {% if user['username'] == "admin" %}
                          "hidden"
                        {% else %}
                          "{{tokenlist[app['app']]}}"
                        {% endif %}
                        class="form-control" id="{{ app['id']}}"
                        >
                      </div>
                      <div class = "col-lg-5 col-12">
                        <a href = "{{ app['tokenurl']}}" target="_blank">Link for trello token (Copy and paste it here)</a>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
</div>
</div>
</div>
</div>
</body>
</html>
